:host{
    display:block ;
    box-sizing:border-box;
}
.p-fieldset{
    display:block;
    box-sizing:border-box;
    border-radius: 3px;
    border: 1px solid #c8c8c8;
    background-color: #fff;
    color: #333;
    padding: .571em 1em;
}
:host([toogleable])  .fieldset-legend{
    cursor:pointer;
}
.fieldset-legend{
    border: 1px solid var(--legend-border-color,#dee2e6);
    background-color: var(--legend-background-color,#f4f4f4);
    color: #333;
    padding: .571em 1em .571em 1em;
    font-weight: 600;
}
.icon-toogle{
    padding:auto 0.7em;
}
.fieldset-content{
    transition: all 0.5s cubic-bezier(0,1,0.5,1);
}