
    .p-organizationchart-table {
        border-spacing: 0;
        border-collapse: separate;
    }
    :host([center]) .p-organizationchart-table{
        margin: 0 auto;
    }

    .p-organizationchart-table > tbody > tr > td {
        text-align: center;
        vertical-align: top;
        padding: 0 .75rem;
    }
    .p-organizationchart-node-content {
        display: inline-block;
        position: relative;
        padding: 0;
        box-sizing: border-box;
        border: 1px solid var(--org-chart-role-bg-color,#495ebb);
        color: #495057;

        >div[part=node-content-wrap]{
            display: flex;
           flex-direction: column;
           .roleName{
                flex:1;
                margin:0 -1px;
                background-color: var(--org-chart-role-bg-color,#495ebb);
                color:var(--org-char-role-color,#FFF);
                border:1px solid var(--org-chart-role-bg-color,#495ebb);
                padding: 0.5em 1rem;
            }
            .userName{
                flex:1;
                text-align: center;
                min-height: 2em;
                padding:12px;
            }
        }
        
    }


    .p-node-toogler {
        position: absolute;
        bottom: -.75rem;
        margin-left: -.75rem;
        background-color: var(--org-chart-role-bg-color,#495ebb);
        z-index: 2;
        left: 50%;
        user-select: none;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        color: inherit;
        border-radius: 50%;
        p-icon{
            color:var(--org-chart-border-color,#dee2e6);
        }
    }
     .p-node-toggler-icon {
        position: relative;
        top: .20rem;
    }
    .p-organizationchart-line-down {
        margin: 0 auto;
        height: 20px;
        width: 1px;
        background: var(--org-chart-border-color,#dee2e6);
    }
    .p-organizationchart-line-right {
        border-radius: 0px;
    }

     .p-organizationchart-line-left {
        border-radius: 0;
        border-right: 1px solid var(--org-chart-border-color,#dee2e6);
        border-color: var(--org-chart-border-color,#dee2e6);
    }
    .p-organizationchart-selectable-node {
        cursor: pointer;
    }

   .p-organizationchart-line-top {
        border-top: 1px solid var(--org-chart-border-color,#dee2e6);
        border-color: var(--org-chart-border-color,#dee2e6);
    }
