:host{
    display: block;

    --table-font-size: 12px;
   
    --table-border: 1px solid #e8e8e8;
    --table-border-high: 1px solid #ccc;
    --table-border-active: 1px solid #aacbe1;
   
    
    --table-row: #fff;
    --table-row-odd:#fafafa;
    background-color:var(--table-bg,#fff);

}
div[part=root-div]{
    height: 100%;
}

div[part=scroll-div]{
    
    overflow: auto;
    position: relative;
}


div[part=scroll-div] ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #e1e1e1;
        width: 6px;
        min-height: 50px;
        border: 2px solid transparent;
        background-clip: content-box;
}

div[part=table-header-none]{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFF;
}
table[part=table] {
    table-layout: fixed;
    word-wrap: break-word;
    text-align: center;
    width: 100%;
    border-spacing: 0;
}



