:host{
    display: block;
    position: relative;
    min-height: 300px;
    --table-font-size: 12px;
    font-size:var(--table-font-size);
    --table-border: 1px solid #e8e8e8;
    --table-border-high: 1px solid #ccc;
    --table-border-active: 1px solid #aacbe1;
    --table-row: #fff;
    --table-row-odd:#fafafa;
    --table-head-bg-color:#f2f2f2;
}
:host([border]) div[part=root-div]{
    border:var(--table-border);
}
div[part=root-div]{
    border:none;
    font-size:inherit;
    left:0;bottom: 0;
    top:0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    display: block;
    background-color: #FFF;
}


div[part=scroll-div]{
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar{
        width:10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #e1e1e1;
        width: 8px;
        border:1px solid transparent;
        min-height: 50px;
        background-clip: content-box;

    }
    &::-webkit-scrollbar-track {
        border-radius: 5px; 
        background-color: #FFF;
    }
}

div[part=table-header-div]{
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    border-bottom:var(--table-border);
    overflow: hidden;
}

:host([fixed]) table{
    table-layout: fixed;
}
table {
    word-wrap: break-word;
    /*table-layout: fixed;*/
    border:none;
    border-spacing: 0;
    box-sizing: border-box;
    &[part=fixed-thead-table]{
        position:absolute;
        top:0px;
        left:0px;
        table-layout:auto;
        background-color: #FFF;
    }
    
    thead{
        &::after{
            content: " ";
            width: 1px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: var(--table-head-bg-color);
            height: var(--table-header-height);
        }

        tr th,th td {
            border-top:var(--table-border);
            border-right:var(--table-border);
            margin:0;
            padding:0;
            background-color: var(--table-head-bg-color);

            div.thWrap{
               line-height: 18px;
               font-weight: normal;
               padding:6px ;
               box-sizing: border-box;
               .thWrap-text{
                   white-space: nowrap;
                   overflow: hidden;
                   text-overflow: ellipsis;
               }
            }
   
        }
   
         tr:first-child  th,  tr:first-child  td{
           border-top:none;
        }
    }
     tbody{
        tr td {
            background-color: #FFF;
            padding-left:3px ;
            padding-right:3px;
            border-bottom:var(--table-border);
        }
        tr:last-child td {
            border-bottom:none;
        }

     }
    
     
}



