:host{ 
    display:inline-block;
    font-size:14px;
    color:var(--fontColor,#333);
    -webkit-tap-highlight-color: transparent;
}
:host([disabled]){ 
    pointer-events: none; 
    opacity:.6; 
}
:host([disabled]) label{ 
    pointer-events: all;  
    cursor: not-allowed; 
}
#radio{
    position:absolute;
    clip:rect(0,0,0,0);
}
:host(:focus-within) .cheked,:host(:not([disabled])) label:hover .cheked{ 
    border-color:var(--themeColor,#42b983);
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
    z-index:1;
}
:host([disabled]) .cheked{ 
    background:rgba(0,0,0,.1);
}
label{
    box-sizing:border-box;
    cursor:pointer;
    display:flex;
    align-items:center;
    outline:0;
}
.cheked{
    position:relative;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    display: flex;
    border-radius:50%;
    border: 1px solid var(--borderColor,rgba(0,0,0,.2));
    transition:.3s;
    margin-right:.5em;
}
:host(:empty) .cheked{
    margin-right:0;
}
.cheked::before{
    content:'';
    width:8px;
    height:8px;
    margin:auto;
    border-radius:50%;
    background:var(--themeColor,#42b983);
    transform: scale(0);
    transition: .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
}
:host([checked]) .cheked::before{
    transform: scale(1);
}