:host{
    display: block;
    position: relative;
    min-height: 300px;
    --table-font-size: 12px;
    font-size:var(--table-font-size);
    --table-border: 1px solid #EBE8EF;
    --table-border-high: 1px solid #ccc;
    --table-border-active: 1px solid #aacbe1;
    --table-row: #fff;
    --table-row-odd:#fafafa;
    --table-head-bg-color:#F5F5F5;

    --table-dragging-color:rgb(219,219,220);
}

div[part=root-div]{
    border:none;
    font-size:inherit;
    left:0;bottom: 0;
    top:0;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    display: block;
    background-color: #FFF;
}


div[part=scroll-div]{
    overflow: auto;
    height: 100%;

    &::-webkit-scrollbar{
        width:10px;
        height: 10px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #e1e1e1;
        width: 8px;
        border:1px solid transparent;
        min-height: 50px;
        background-clip: content-box;

    }
    &::-webkit-scrollbar-track {
        border-radius: 5px; 
        background-color: #FFF;
    }

    div.column-reisze-helper{
        position: absolute;
        width:2px ;
        background-color:  #1890ff;
        display: none;
        z-index: 4;
    }
}

div[part=table-header-div]{
    position: absolute;
    width: 1;
    top: 0;
    left: 0;
    z-index: 2;
   /* border-bottom:var(--table-border);*/
    overflow: hidden;
}

:host([fixed]) table{
    table-layout: fixed;
}
:host([border]) table {
    border:var(--table-border);
}
table {
    word-wrap: break-word;
    border:none;
    border-spacing: 0;
    box-sizing: border-box;
    &[part=fixed-thead-table]{
        position:absolute;
        top:0px;
        left:0px;
        table-layout:auto;
        background-color: #FFF;
        &::after{
            width: 1px ;
            content: '';
            position: absolute;
            right:0;
            z-index: 1;
            top:0;bottom:0;background-color:var(--table-head-bg-color);
        }
    }
    
    thead{
        tr th,tr td {
            border-top:var(--table-border);
            border-right:var(--table-border);
            margin:0;
            padding:0;
            position: relative;
            background-color: var(--table-head-bg-color);
            >div.resize-col{
                display: block;
                cursor: w-resize;
                position: absolute;
                top:1px;
                width:3px;
                background-color: transparent;
                right:0px;
                bottom:1px;
            }
            &.dragging{
                background-color: var(--table-dragging-color);
            }

            div.thWrap{
               font-weight: normal;
               position: relative;
               vertical-align: middle;
               box-sizing: border-box;
               padding:0.7em;
               line-height: 1.5;
               .thWrap-text{
                   white-space: nowrap;
                   overflow: hidden;
                   vertical-align: middle;
                   text-overflow: ellipsis;
               }
               div.sortAble{
                    display: inline-flex;
                    margin-left:2px;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    vertical-align: middle;
                    cursor: pointer;
                    overflow: initial;
                    position: relative;
                    color:#c0c4cc;
                    font-size: 14px;
                    .current{
                        color:#000;
                    }
                    .up{
                        position: relative;
                    }
                    .down{
                        position: relative;
                        top:-2px;
                    }
               }
            }
   
        }
   
         tr:first-child  th,  tr:first-child  td{
           border-top:none;
        }
    }
     tbody{
        
        tr td {
            padding:0.7em;
            line-height: 1.5;
            border-bottom:var(--table-border);
            background-color: #FFF;
        }
        tr:last-child td {
            border-bottom:none;
        }
        tr.active td{
            background-color: rgba(0,0,0,0.05);
        }
        
        tr.primary td{
            background-color: #b8daff;
        }
        tr.secondary td{
            background-color: #d6d8db;
        }
        tr.success td{
            background-color: #8fd19e;
        }
        tr.warnig td{
            background-color: #ed969e;
        }
        tr.danger td{
            background-color:#ffdf7e;
        }
        tr.info td{
            background-color: #bee5eb;
        }
        tr.light td{
            background-color: #fdfdfe;
        }
        tr.dark td{
            background-color: #c6c8ca;
        }
     }
  
}


:host([table-striped]) table[part=table] tbody {
    tr:nth-of-type(2n)  td{
        background-color: #c6c8ca;
    }
}

:host([table-hover]) table[part=table] tbody {
    tr:hover  td{
        color: #212529;
        background-color:  rgb(240,240,240);
    }
}

:host([table-sm]) table[part=table]  tbody{
    tr td{
        padding:0.3em;
    }
   
}